html
  head
    title='URL Redirect Manager'
  body
    h1='This page manages your redirect urls'
    p='Currently configured ids'
    p= list
    hr
    p(class='message')= message
    div
      form(action='/ui/manage', method='POST')
        fieldset
          legend='Create new shorturl'
          input(type='text', name='optionalId', placeholder='optionalId')
          br
          input(type='text', name='url', placeholder='url')
          br
          input(type='submit', value='create')
